.myTooltip {
    display: inline-block;
    color: $primary-60;
    position: relative;
    background-color: $white;
    border: 2px solid $primary-60;
    border-radius: 12px;
    font-size: 18px;
    padding: 14px 23px;
    @include media-breakpoint-up(lg) {
        font-size: 20px;
        padding: 13px 19px;
    }
    &-square {
        position: absolute;
        left: 50%;
        bottom: -14px;
        width: 28px;
        height: 28px;
        background-color: $white;
        transform: translateX(-50%) rotate(45deg);
        border-right: 2px solid $primary-60;
        border-bottom: 2px solid $primary-60;
        z-index: 1;
    }

}