<nav class="navbar navbar-expand-lg bg-light boder-bottom">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="../assets/images/logo.svg" alt="logo" />
        </a>
        <a class="d-block d-lg-none nav-link ms-auto me-3" href="#">
            <img src="../assets/images/avatar.png" alt="avatar" class="avatar-image rounded-circle me-2" />
            Mokumaru
        </a>
        <button class="fs-4 py-3 px-3 bg-white border-0" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            <i class="bi bi-list"></i>
            </span>
        </button>

        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-fullscreen">
                <div class="modal-content">
                    <div class="modal-header border-0">
                        <button type="button" class="btn-close me-3" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body d-flex flex-column">
                        <ul class="navbar-nav mx-auto mb-2 mb-lg-0 align-items-center">
                            <li class="nav-item py-4 mb-6 py-lg-0 mb-lg-0">
                                <a class="nav-link" href="#">服務方案</a>
                            </li>
                            <li class="nav-item py-4 mb-6 py-lg-0 mb-lg-0">
                                <a class="nav-link" href="#">關於職旅</a>
                            </li>
                            <li class="nav-item py-4 py-lg-0">
                                <a class="nav-link" href="#">聯絡我們</a>
                            </li>
                        </ul>
                        <div class="mt-auto">
                            <button type="button" class="btn btn-secondary fw-bold py-2 w-100">登入 / 註冊</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0 align-items-center">
                <li class="nav-item py-4 mb-6 py-lg-0 mb-lg-0">
                    <a class="nav-link" href="#">服務方案</a>
                </li>
                <li class="nav-item py-4 mb-6 py-lg-0 mb-lg-0">
                    <a class="nav-link" href="#">關於職旅</a>
                </li>
                <li class="nav-item py-4 py-lg-0">
                    <a class="nav-link" href="#">聯絡我們</a>
                </li>
            </ul>
            <div class="d-block d-lg-none mt-4 mb-6 mx-6">
                <button type="button" class="btn btn-secondary w-100">登入 / 註冊</button>
            </div>
        </div>
        <a class="d-none d-lg-block nav-link" href="#">
            <img src="../assets/images/avatar.png" alt="avatar" class="avatar-image rounded-circle me-2" />
            Mokumaru
        </a>
    </div>
</nav>