*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans TC", sans-serif;
}

img {
    vertical-align: middle;
}

a {
    color: #141A1F !important;
    text-decoration: none;
}