.login-title {
    margin-top: -24px;
    font-size: 28px;
    margin-bottom: 24px;
    @include media-breakpoint-up(lg) {
        font-size: 32px;
        margin-bottom: 48px;
    }
}

.lookPwd {
    position: absolute;
    top: 18px;
    right: 12px;
    color: $natural-10;
}

.losePwd, .fastSign {
    color: $natural-50;
}

.fastSign-link {
    color: $primary-60;
    text-decoration: underline;
}