.tab-btn-bg {
    .nav-link {
        background-color: $light;
    }
}

.user-image {
    width: 120px;
    height: 120px;
    border: 1px solid #D1D9E1;
}

.modal-dialog {
    width: 400px !important;
}